<%= render 'shared/map' %>

<% @list_of_sorted_cities.each do |city| %>
<ul>
  <h2> <%= city[:name] %> </h2>
  <% @results[city[:name]]["posts"].each do |article| %>
  <li>
    <p><%= article["thread"]["title"] %></p>
    <%= link_to "Bookmark this article", bookmarks_path(:URL => article["thread"]["url"], :title => article["thread"]["title"], :category => article["thread"]["site_categories"], :lat => article["thread"]["latitude"], :lng => article["thread"]["longitude"]), :method => :post %>
  </li>
  <% end %>
</ul>
<% end %>

<%= render partial: 'articles/show' %>
