<div class="sidenav">
  <div class="logo">
   <%= image_tag "tht.png"%>
  </div>
  <div class="user-section">
    <% if user_signed_in? %>
      <div class="user-info">
        <p class="user-name"><%= current_user[:email] %></p>
      </div>

      <div class="second-section">
        <%= link_to bookmarks_path, title: "Go to your bookmarks", class: "bookmark-home" do %>
          <%= image_tag "book.svg", height: 30%>
        <% end %>
        <%= link_to destroy_user_session_path, title: "Log out", method: :delete do %>
          <i class="fa fa-sign-out log-out-icon"></i>  <%= t(".sign_out", default: "") %>
        <% end %>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path %>
      <%= link_to t(".sign_up", default: "Sign up"), new_user_registration_path %>
    <% end %>
  </div>

  <div class="filter-by-date">
    <p class="filter-intro">Filter articles by date:</p>
    <div class="filters">
      <p class="date-category"><%= link_to "From yesterday", articles_path(since: 1) %></p>
      <p class="date-category"><%= link_to "Last 3 days", articles_path(since: 3) %></p>
      <p class="date-category"><%= link_to "Last week", articles_path(since: 7) %></p>
      <p class="date-category"><%= link_to "Last month", articles_path(since: 30) %></p>
    </div>
  </div>
</div>
