<div class="sidenav">
  <div class="logo">
   <%= image_tag "tht.png"%>
  </div>
  <div class="user-section">
    <% if user_signed_in? %>
    <div>
      <p class="user-name">Mike Giuliani</p>
      <p>mike@test.it</p>
    </div>

    <div class="second-section">
      <%= link_to bookmarks_path, class: "bookmark-home" do %>
        <%= image_tag "book.svg", height: 30 %>
      <% end %>

       <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out log-out-icon"></i>  <%= t(".sign_out", default: "") %>
       <% end %>
    </div>
      <% else %>


        <%= link_to t(".sign_in", default: "Login"), new_user_session_path %>

        <%= link_to t(".sign_up", default: "Sign up"),
          new_user_registration_path %>
    <% end %>
      </div>
  </div>
  <div>

  </div>
</div>



<div class="main">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
